* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gainsboro;
}

.app {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
  margin-bottom: 10px;
}

.taskForm {
  width: 100%;
  padding: 10px 5px;
  background-color: #ffffff;
  font-size: 16px;
  font-style: italic;
}

.task {
  display: flex;
  padding: 10px;
  gap: 10px;
  background-color: #ffffff;
  border-bottom: 1px solid gainsboro;
  cursor: pointer;
}

.task-title {
  font-size: 18px;
  font-weight: 300;
}

.task-title.unactive {
  text-decoration: line-through;
}

.filter {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  background-color: #ffffff;
}

.filter-buttons {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.filter-count {
  padding: 5px;
  font-size: 12px;
}

.button {
  font-size: 12px;
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
  transition: 0.5s color;
}

.button.active {
  border: 1px solid gainsboro;
  border-radius: 5px;
}

.button:hover {
  color: green;
}