* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: gainsboro;
}

.app {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;

  &-wrapper {
    background-color: #fff;
    padding: 20px 0;
    border-radius: 20px;
  }
}

.title {
  text-align: center;
  font-size: 62px;
  line-height: 68px;
  font-weight: 300;
  margin-bottom: 40px;
}
