* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: gainsboro;
}

.app {
  max-width: 600px;
  width: 100%;
  margin: 100px auto 0;
  text-align: center;
}

.title {
  font-size: 62px;
  line-height: 68px;
  font-weight: 300;
  margin-bottom: 40px;
}

.task-form {
  width: 100%;
  padding: 10px 5px;
  background-color: #ffffff;
  border: none;
  font-size: 16px;
  font-style: italic;
}

.task {
  display: flex;
  padding: 10px;
  gap: 10px;
  background-color: #ffffff;
  border-bottom: 1px solid gainsboro;
  cursor: pointer;
}

.task-title {
  font-size: 18px;
  font-weight: 300;
}

.task-title.unactive {
  text-decoration: line-through;
  color: gainsboro;
}

.filter {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  background-color: #ffffff;
}

.filter-buttons {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.filter-count {
  padding: 5px;
  font-size: 12px;
}

.button {
  font-size: 12px;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 5px;
  cursor: pointer;
  transition: 0.5s color;
}

.button.active {
  border: 1px solid gainsboro;
  border-radius: 5px;
}

.button:hover {
  color: green;
}